---
import {
  type Content,
  getPagesPartOf,
  getPagesWithKeywordIdentifier,
} from "@galactiks/explorer";
import capitalize from "lodash.capitalize";
import ArticleCard from "./ArticleCard.astro";

type Props = Content & { class?: string };

const { name, identifier, inLanguage, type, class: className } = Astro.props;

const inLanguages = inLanguage !== undefined ? [inLanguage] : undefined;
const articles = await (type === "Tag"
  ? getPagesWithKeywordIdentifier(identifier, { inLanguages })
  : getPagesPartOf(identifier, { inLanguages }));
---

<div class="mx-auto max-w-3xl mt-14">
  <h1
    class="text-center text-3xl font-semibold tracking-tight lg:text-4xl lg:leading-snug"
  >
    {capitalize(name)}
  </h1>
</div>

<div
  class:list={[
    "mt-10 grid gap-10 md:grid-cols-2 lg:gap-10 xl:grid-cols-3",
    className,
  ]}
>
  {
    articles
      .sort(
        (a, b) =>
          b.datePublished.getMilliseconds() - a.datePublished.getMilliseconds()
      )
      .map((article) => (
        <ArticleCard article={article} />
      ))
  }
</div>
