---
import { type Content, getPagesPartOf, getPagesWithKeywordIdentifier } from "@galactiks/explorer";
import capitalize from "lodash.capitalize";

type Props = Content & { class?: string };

const { name, identifier, inLanguage, type, class: className } = Astro.props;

const inLanguages = inLanguage !== undefined ? [inLanguage] : undefined
const articles = await (type === 'Tag' ? getPagesWithKeywordIdentifier(identifier, { inLanguages }) : getPagesPartOf(identifier, { inLanguages }));
---

<div class="mx-auto max-w-3xl mt-14">
  <h1
    class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight"
  >
    {capitalize(name)}
  </h1>
</div>

<ul class:list={["grid gap-8", className]}>
  {
    articles
      .sort(
        (a, b) =>
          b.datePublished.getMilliseconds() - a.datePublished.getMilliseconds()
      )
      .map((page) => (
        <li>
          <a class="flex flex-col space-y-1" href={page.path}>
            <h3 class="text-lg ld:text-xl tracking-tight">{page.name}</h3>
            <p class="text-gray-600">{page.description}</p>
          </a>
        </li>
      ))
  }
</ul>
