---
import { type Content, getPagesPartOf, getPagesWithKeywordIdentifier } from "@galactiks/explorer";

type Props = Pick<Content, 'identifier' | 'inLanguage' | 'type'> & { class?: string };

const { identifier, inLanguage, type, class: className } = Astro.props;

const articles = await (type === 'Tag' ? getPagesWithKeywordIdentifier(identifier, { inLanguage }) : getPagesPartOf(identifier, { inLanguage }));
---

<ul class:list={["grid gap-8", className]}>
  {
    articles
      .sort(
        (a, b) =>
          b.datePublished.getMilliseconds() - a.datePublished.getMilliseconds()
      )
      .map((page) => (
        <li>
          <a class="flex flex-col space-y-1" href={page.path}>
            <h3 class="text-lg ld:text-xl tracking-tight">{page.name}</h3>
            <p class="text-gray-600">{page.description}</p>
          </a>
        </li>
      ))
  }
</ul>
