---
import { getConfig, getDefaultLanguage } from "@galactiks/config";
import { type Content, getWebPageFooter } from "@galactiks/explorer";
import LanguageSelector from "./LanguageSelector.astro";
import { cn } from "@/lib/utils";

const {
  webManifest: { name },
} = getConfig();

type Props = {
  content: Content;
  className?: string;
};
const { content, className } = Astro.props;

const footerElement = await getWebPageFooter({
  inLanguage: content.inLanguage || getDefaultLanguage(),
});
const items = footerElement?.itemListElement || [];
---
<footer class={cn("border-t", className)}>
  {
    items.length > 0 && (
      <div class="container grid grid-cols-1 gap-6 py-10 sm:grid-cols-2 md:grid-cols-5">
        <div>
          <ul role="presentation" class="list-inside space-y-3">
            {items.map(({ path, url, name }) => (
              <li>
                <a
                  href={path || url}
                  class="text-sm text-muted-foreground hover:text-primary"
                >
                  {name}
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    )
  }

  <div class="border-t py-4">
    <div class="container flex items-center justify-between">
      <span class="text-muted-foreground text-sm">
        {name}
      </span>

      {
        Array.isArray(content.headers?.alternates) &&
          content.headers?.alternates?.length > 2 && (
            <div>
              <LanguageSelector
                currentLang={content.inLanguage}
                languages={content.headers?.alternates}
              />
            </div>
          )
      }
    </div>
  </div>
</footer>
