---
import { getDefaultLanguage } from "@galactiks/config";
import { getHomePage, getSiteNavigationElement } from "@galactiks/explorer";

import Container from "@components/Container.astro";
import Logo from "@components/Logo.astro";

type Props = { inLanguage?: string };
const { inLanguage } = Astro.props;

const inLanguageOrDefault = inLanguage || getDefaultLanguage();

const navigationElement = await getSiteNavigationElement({
  inLanguage: inLanguageOrDefault,
});
const homepage = await getHomePage({ inLanguage: inLanguageOrDefault });
---

<Container>
  <header
    class="primary flex flex-col lg:flex-row justify-between items-center my-5"
  >
    {
      typeof homepage === "object" ? (
        <a href={homepage.path} class="flex w-full lg:w-auto items-center justify-between">
          <Logo />
        </a>
      ) : (
        <div class="flex w-full lg:w-auto items-center justify-between">
          <Logo />
        </div>
      )
    }

    {
      Array.isArray(navigationElement?.itemListElement) &&
        navigationElement.itemListElement.length > 0 && (
          <nav class="w-full lg:w-auto mt-2 lg:flex lg:mt-0 hidden">
            <ul class="flex flex-col lg:flex-row lg:gap-3">
              {navigationElement.itemListElement.map((element) => (
                <li>
                  <a
                    href={element.path || element.url}
                    class="flex lg:px-3 py-2 text-gray-600 hover:text-primary"
                  >
                    {element.name}
                  </a>
                </li>
              ))}
            </ul>
          </nav>
        )
    }
  </header>
</Container>
