---
import { getSiteNavigationElement } from "@galactiks/explorer";
import { getDefaultLanguage } from "@galactiks/config";

import Container from "@components/Container.astro";
import Logo from "@components/Logo.astro";

type Props = { inLanguage?: string };
const { inLanguage } = Astro.props;

const navigationElement = await getSiteNavigationElement({
  inLanguage: inLanguage || getDefaultLanguage(),
});
---

<Container>
  <header
    class="primary flex flex-col lg:flex-row justify-between items-center my-5"
  >
    <div class="flex w-full lg:w-auto items-center justify-between">
      <Logo />
    </div>

    {
      typeof navigationElement === "object" &&
        Array.isArray(navigationElement.itemListElement) &&
        navigationElement.itemListElement.length > 0 && (
          <nav class="w-full lg:w-auto mt-2 lg:flex lg:mt-0 hidden">
            <ul class="flex flex-col lg:flex-row lg:gap-3">
              {navigationElement.itemListElement.map(({ path, url, name }) => (
                <li>
                  <a
                    href={path || url}
                    class="flex lg:px-3 py-2 text-gray-600 hover:text-primary"
                  >
                    {name}
                  </a>
                </li>
              ))}
            </ul>
          </nav>
        )
    }
  </header>
</Container>
