---
import { getConfig, getDefaultLanguage } from "@galactiks/config";
import { getHomePage, getSiteNavigationElement } from "@galactiks/explorer";

import Container from "@components/Container.astro";
import Logo from "@components/Logo.astro";

type Props = { inLanguage?: string };
const { inLanguage } = Astro.props;

const inLanguageOrDefault = inLanguage || getDefaultLanguage();
const { name } = getConfig();

const navigationElement = await getSiteNavigationElement({
  inLanguage: inLanguageOrDefault,
});
const homepage = await getHomePage({ inLanguage: inLanguageOrDefault });
---

<Container>
  <header>
    {
      Array.isArray(navigationElement?.itemListElement) &&
        navigationElement.itemListElement.length > 0 && (
          <nav
            class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
            aria-label="Global"
          >
            <div class="flex lg:flex-1">
              {typeof homepage === "object" ? (
                <a href={homepage.path} class="-m-1.5 p-1.5">
                  <span class="sr-only">{name}</span>
                  <Logo />
                </a>
              ) : (
                <div class="-m-1.5 p-1.5">
                  <span class="sr-only">{name}</span>
                  <Logo />
                </div>
              )}
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
              {navigationElement.itemListElement.map((element) => (
                <a
                  href={element.path || element.url}
                  class="text-sm font-semibold leading-6 text-gray-900 hover:text-primary"
                >
                  {element.name}
                </a>
              ))}
            </div>
          </nav>
        )
    }
  </header>
</Container>
