---
import { getSiteNavigationElement } from "@galactiks/explorer";
import { getDefaultLanguage } from "@galactiks/config";

import Container from "@components/Container.astro";
import Logo from "@components/Logo.astro";

const navigationElement = await getSiteNavigationElement({
  inLanguage: getDefaultLanguage(),
});
---

<Container>
  <header
    class="primary flex flex-col lg:flex-row justify-between items-center my-5"
  >
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/">
        <Logo />
      </a>
    </div>

    {
      typeof navigationElement === "object" &&
        Array.isArray(navigationElement.itemListElement) &&
        navigationElement.itemListElement.length > 0 && (
          <nav class="w-full lg:w-auto mt-2 lg:flex lg:mt-0 hidden">
            <button
              id="menu"
              aria-label="Toggle Menu"
              class="px-2 py-1 ml-auto text-gray-500 rounded-md lg:hidden focus:text-blue-500 focus:outline-none dark:text-gray-300"
            >
              <svg
                class="w-6 h-6 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  class="navmenu-toggle"
                  fill-rule="evenodd"
                  d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                />

                <path
                  class="navmenu-toggle hidden"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
                />
              </svg>
            </button>

            <ul class="flex flex-col lg:flex-row lg:gap-3">
              {navigationElement.itemListElement.map(({ path, url, name }) => (
                <li>
                  <a
                    href={path || url}
                    class="flex lg:px-3 py-2 text-gray-600 hover:text-primary"
                  >
                    {name}
                  </a>
                </li>
              ))}
            </ul>

            <ul class="flex flex-col items-center justify-start order-2 w-full lg:hidden">
              {navigationElement.itemListElement.map(({ path, url, name }) => (
                <li>
                  <a
                    href={path || url}
                    class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500"
                  >
                    {name}
                  </a>
                </li>
              ))}
            </ul>
          </nav>
        )
    }
  </header>

  <script is:inline>
    const menuButton = document.getElementById("menu");
    menuButton.addEventListener("click", () => {
      [...document.querySelectorAll(".navmenu-toggle")].forEach((Element) => {
        Element.classList.toggle("hidden");
      });
    });
  </script>
</Container>
