---
import type { Content } from "@galactiks/explorer";

import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import BaseLayout from "./BaseLayout.astro";
import Container from "@components/Container.astro";

type Props = { content: Content, class?: string };

const { content, class: className } = Astro.props;
---

<BaseLayout content={content}>
  <Navbar />

  <main>
    <Container class={className}>
      <slot />
    </Container>
  </main>

  <Footer content={content} />
</BaseLayout>
