---
import type { Content } from "@galactiks/explorer";

import PageLayout from "./PageLayout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";

type Props = { content: Content };

const { content } = Astro.props;
---

<PageLayout class="mx-auto my-6 max-w-3xl prose" content={content}>
  <div class="my-6 prose">
    <slot />
  </div>

  <Breadcrumb page={content} class="mt-6" />
</PageLayout>
