---
import type { Content } from "@galactiks/explorer";

import PageLayout from "./PageLayout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";
import TagItem from "@components/TagItem.astro";

type Props = { content: Content };

const { content } = Astro.props;
---

<PageLayout class="my-6 prose" content={content}>
  <slot />

  {
    Array.isArray(content.keywords) && content.keywords.length > 0 && (
      <div class="my-4 flex flex-wrap items-center w-full gap-3 md:w-auto">
        {content.keywords.slice(0, 3).map((keyword) => (
          <TagItem class="text-sm text-gray-500" keyword={keyword} />
        ))}
      </div>
    )
  }

  <Breadcrumb page={content} class="mt-6" />
</PageLayout>
